.Days{
        background-color: greenyellow;
        width: 120px; 
        height: 120px;  
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 4px;
        font-size: 24px;
        box-shadow: 0 0 10px lightgray;
        text-align: center;
}
body{
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
}
.Mounth{
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
.weekend{
    background-color: lightgray;
}

